@accentColor: #f58b57;

html,
body {
	background: rgb(0, 0, 0) !important;
	background-color: rgb(0, 0, 0) !important;
}

.player {
	svg {
		margin: 0 !important;
	}

	.videoControls {
		position: fixed;
		bottom: 0;
		left: 0;
		width: 100vw;

		padding: 10px;
		display: flex;
		flex-direction: row;
		align-items: center;

		> div {
			margin-right: 10px;
		}
	}

	.plyr {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 50;

		width: 100vw;
		height: 100vh;
	}
}

.overlay {
	position: absolute;
	z-index: 200;

	width: 100vw;
	height: 100vh;

	top: 0;
	right: 0;

	overflow: hidden;
}

.App {
	> div {
		user-select: none !important;
	}

	user-select: none !important;

	background-image: url(https://dl.ragestudio.net/mem/texts.png);
	background-color: @accentColor;

	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-repeat: no-repeat;
	background-size: cover;

	.overlayBackground {
		position: absolute;
		z-index: 100;

		width: 100vw;
		height: 100vh;

		top: 0;
		right: 0;

		overflow: hidden;

		background-color: #000000;
		opacity: 1;

		animation: fadeOutBackground 4.1s ease-out 2s;
		animation-fill-mode: forwards;
	}

	.countdown {
		position: absolute;
		z-index: 100;
		width: 100vw;
		height: 100vh;
		display: flex;

		align-items: center;
		justify-content: center;

		font-size: 5rem;
		font-weight: bold;
		color: transparent;

		animation: fadeInColor 5.1s linear 1s;
		animation-fill-mode: forwards;

		filter: blur(5px);

		> div {
			margin: 20px;
		}

		.entry {
			width: 100vw;
			text-align: center;

			> div {
				margin: 10px 0;
			}

			.value {
				font-family: "Arial" !important;
				background-color: rgba(0, 0, 0, 1);
				//backdrop-filter: blur(10px);
			}

			.text {
				font-family: "Comic Sans MS" !important;
				font-size: 1.5rem;
				font-weight: bold;
				background-color: rgba(0, 0, 0, 1);

				//backdrop-filter: blur(10px);
			}
		}
	}
	
	.actions {
		position: fixed;
		z-index: 100;
		bottom: 0;

		width: 100vw;
		height: fit-content;

		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: center;
		
		padding: 10px;

		border-radius: 8px 8px 0 0;
		background-color: #000000a8;
		backdrop-filter: blur(7px);

		opacity: 0;

		animation: fadeIn 1s linear 2s;
		animation-fill-mode: forwards;

		> div {
			margin-left: 10px;
		}
	}
}

@keyframes fadeOutBackground {
	0% {
		background-color: #000000;
		color: @accentColor;
		opacity: 1;
	}
	20% {
		background-color: #251812;
	}
	40% {
		background-color: #633b28;
	}
	60% {
		background-color: #a9623f;
	}
	70% {
		background-color: #ce764b;
	}
	80% {
		background-color: #f58b57;
	}
	100% {
		color: transparent;
		opacity: 0;
	}
}

@keyframes fadeInColor {
	0% {
		color: transparent;
		-webkit-animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
		animation-timing-function: cubic-bezier(0.74, 0.25, 0.76, 1);
	}
	15% {
		color: #fff;
		filter: blur(5px);
		-webkit-animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
		animation-timing-function: cubic-bezier(0.12, 0.01, 0.08, 0.99);
	}
	97% {
		color: #fff;
		filter: blur(0);
	}
	100% {
		color: #fff;
		filter: blur(0);
	}
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}